<div class="notification-page">
    <div class="notification-card" *ngFor="let item of dataNotification">
        <div class="notification-card-header">
            <app-letter-icon
                [nome]="item.autor"
                size="40"
                fontSize="20"
                radiusSize="10"
            ></app-letter-icon>
            <div>
                <button>{{ item.autor }}</button>
                <!-- <h5>{{ item.data }}</h5> -->
            </div>
            <Button class="ellipses-card-notification">
                <button (click)="atualizaNotification(item.idDocumento,true)">Aprovado</button>
                <button (click)="atualizaNotification(item.idDocumento,false)">Reprovado</button>
            </Button>
        </div>
        <!-- <h6>{{item.views}} views</h6> -->
        <h5>{{item.nomeDocumento}}</h5>
        <p>{{item.propostaEstudo}}</p>
    </div>
</div>