<div class="home-page">
    <div class="home-header">
        <img src="assets/images/logo.png">
        <div>
            <img src="assets/images/procurar.png">
            <input type="text" placeholder="Pesquisar no SciConnect">
        </div>
        <img src="assets/images/bell.png">
    </div>
    <div class="home-content">
        <div class="sidebar">
            <div class="profile">
                <div class="profile-left">
                    <app-letter-icon
                    [nome]="user?.nome!"
                    size="50"
                    fontSize="30"
                ></app-letter-icon>
                </div>
                <div class="profile-right">
                    <h4>{{user?.nome!}}</h4>
                    <h6>{{user?.diciplina!}}</h6>
                </div>
            </div>
            <div class="nav">
                <Button (click)="navigatingToTimeline()">
                    <img src="assets/images/inicio.png">
                    <p>Início</p>
                </Button>
                <Button (click)="navigatingToPublish()">
                    <img src="assets/images/publicar.png">
                    <p>Publicar</p>
                </Button>
                <Button (click)="navigatingToNotification()">
                    <img src="assets/images/notificacoes.png">
                    <p>Notificações</p>
                </Button>
                <Button (click)="logout()">
                    <img src="assets/images/logout.png">
                    <p>Logout</p>
                </Button>
            </div>
        </div>
        <div class="timeline">
            <router-outlet></router-outlet>
        </div>
        <div class="week">
            <div class="week-border">
                <p>Mais lidas da semana:</p>
                <div>
                    <div class="week-card" *ngFor="let item of dataWeek">
                        <div class="week-card-header">
                            <app-letter-icon
                                [nome]="item.user.nome"
                                size="35"
                                fontSize="20"
                                radiusSize="10"
                            ></app-letter-icon>
                            <div>
                                <button>{{ item.user.nome }}</button>
                                <h5>{{ item.data }}</h5>
                            </div>
                            <button class="week-ellipses">
                                <img src="assets/images/ellipses.png">
                            </button>
                        </div>
                        <h5>{{ item.titulo }}</h5>
                        <h6>{{ item.descricao }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>