<div class="home-page">
    <div class="home-header">
        <img src="assets/images/logo.png">
        <div>
            <img src="assets/images/procurar.png">
            <input type="text" placeholder="Pesquisar no SciConnect">
        </div>
        <img src="assets/images/person.png">
    </div>
    <div class="home-content">
        <div class="sidebar">
            <div class="profile">

            </div>
            <div class="nav">

            </div>
        </div>
        <div class="timeline">

        </div>
        <div class="week">

        </div>
    </div>
</div>