<div class="home-page">
    <div class="home-header">
        <img src="assets/images/logo.png">
        <div>
            <img src="assets/images/procurar.png">
            <input type="text" placeholder="Pesquisar no SciConnect">
        </div>
        <img src="assets/images/person.png">
    </div>
    <div class="home-content">
        <div class="sidebar">
            <div class="profile">
                <div class="profile-left">
                    <app-letter-icon
                    nome="gabriel"
                    size="50"
                    fontSize="30"
                ></app-letter-icon>
                </div>
                <div class="profile-right">
                    <h4>Gabriel Patara</h4>
                    <h6>Estudante</h6>
                </div>
            </div>
            <div class="nav">
                <Button>
                    <img src="assets/images/inicio.png">
                    <p>Início</p>
                </Button>
                <Button>
                    <img src="assets/images/publicar.png">
                    <p>Publicar</p>
                </Button>
                <Button>
                    <img src="assets/images/notificacoes.png">
                    <p>Notificações</p>
                </Button>
            </div>
        </div>
        <div class="timeline">

        </div>
        <div class="week">
            <div>
                <p>Mais lidas da semana:</p>
                <div></div>
            </div>
        </div>
    </div>
</div>