<div class="login-page">
    <div class="login-container-left">
        <img src="assets/images/backgroundLogin.png">
    </div>
    <div class="login-container-right">
        <img src="assets/images/LogoCompleta.png" class="logo">
        <div class="login-card">
            <input #inputLogin type="text" placeholder="Login" class="inputText">
            <input #inputSenha type="password" placeholder="Senha" class="inputText">
            <div *ngIf="loginError">
                <h5 class="senhaErrada">Login ou senha incorretos, tente novamente!</h5>
            </div>
            <button (click)="Entrar()" class="btnEntrar">Entrar</button>
            <hr>
            <button (click)="Inscrever()" class="btnInscrever">Inscrever-se</button>
        </div>
        <div class="app">
            <img src="assets/images/appandroid.png">
        </div>
    </div>
</div>