<div class="register-page">
    <img src="assets/images/LogoCompleta.png">
    <div class="register-card">
            <h2 class="register-title">Cadastre-se</h2>
            <hr>
            <div class="register-inputs">
                <input #inputNome type="text" placeholder="Nome" class="input-text">
                <input #inputSobrenome type="text" placeholder="Sobrenome" class="input-text">
                <div class="register-inputs-radio">
                    <div #btnEstudante>
                        <input #inputEstudante type="radio">
                        <p>Estudante</p>
                    </div>
                    <div #btnColaborador>
                        <input #inputColaborador type="radio">
                        <p>Colaborador</p>
                    </div>
                </div>
                <input #inputEmail type="text" placeholder="E-mail" class="input-text">
                <input #inputSenha type="text" placeholder="Senha" class="input-text">
                <input #inputSenhaNovamente type="text" placeholder="Confirmar Senha" class="input-text">
                <h5 class="formError" *ngIf="Error">
                    Preencha novamente o formulário e tente novamente!
                </h5>
                <button class="btn-criar-conta" (click)="CriarConta()">Criar Conta</button>
                <button (click)="navigateToLogin()" class="voltarbtn">Voltar</button>
            </div>
    </div>
</div>