<div class="timeline-choice">
    <button (click)="changeType('artigo')">Artigo</button>
    <button (click)="changeType('perfil')">Perfil</button>
</div>
<div class="timeline-page">
    <div *ngFor="let post of data" class="timeline">
        <div *ngIf="typeofdata === 'artigo'" class="card-timeline">
            <div class="header-post">
                <app-letter-icon
                [nome]="post.user.nomeCompleto"
                size="40"
                fontSize="20"
                radiusSize="10"
                ></app-letter-icon>
                <div>
                    <h5>{{ post.user.nomeCompleto }}</h5>
                    <h6>{{ post.data }}</h6>
                </div>
            </div>
            <h3>{{ post.titulo }}</h3>
            <p>{{ post.descricao }}</p>
        </div>
        <div *ngIf="typeofdata === 'perfil'">
            <div class="perfil-card">
                <app-letter-icon
                [nome]="post.nomeCompleto"
                size="40"
                fontSize="20"
                radiusSize="10"
                ></app-letter-icon>
                <h5>{{ post.nomeCompleto }}</h5>
            </div>
        </div>
    </div>
</div>