<div class="timeline-choice">
    <button #artigobtn (click)="changeType('artigo')">Artigo</button>
    <button #perfilbtn (click)="changeType('perfil')">Perfil</button>
</div>
<div class="timeline-page">
    <div *ngFor="let data of datasource" class="timeline">
        <div *ngIf="typeofdata === 'artigo'" class="card-timeline">
            <div class="header-post">
                <app-letter-icon
                [nome]="data.user.nome"
                size="40"
                fontSize="20"
                radiusSize="10"
                ></app-letter-icon>
                <div>
                    <button (click)="toPerfil(data.user)">{{ data.user.nome }}</button>
                    <h6>{{ data.data }}</h6>
                </div>
            </div>
            <h3>{{ data.titulo }}</h3>
            <p>{{ data.descricao }}</p>
        </div>
        <div *ngIf="typeofdata === 'perfil'">
            <button class="perfil-card" (click)="toPerfil(data)">
                <app-letter-icon
                [nome]="data.nome"
                size="40"
                fontSize="20"
                radiusSize="10"
                ></app-letter-icon>
                <h5>{{ data.nome }}</h5>
            </button>
        </div>
    </div>
</div>