<div class="timeline-choice" *ngIf="showFiltro">
    <button #artigobtn (click)="changeType('artigo')">Artigo</button>
    <button #perfilbtn (click)="changeType('perfil')">Perfil</button>
    <button (click)="showFiltro = false" class="fecharFiltro">X</button>
</div>
<div class="timeline-page">
    <div *ngIf="typeofdata === 'artigo'" class="timeline">
        <div *ngFor="let data of dataDocumentos" class="card-timeline">
            <div class="header-post">
                <app-letter-icon
                [nome]="data.autor"
                size="40"
                fontSize="20"
                radiusSize="10"
                ></app-letter-icon>
                <div>
                    <button>{{ data.autor }}</button>
                    <!-- <h6>{{ data.data }}</h6> -->
                </div>
            </div>
            <h3>{{ data.nomeDocumento }}</h3>
            <p>{{ data.propostaEstudo }}</p>
        </div>
    </div>
    <div *ngIf="typeofdata === 'perfil'" class="timeline">
        <div *ngFor="let data of dataUsuarios" class="card-timeline">
            <button class="perfil-card">
                <app-letter-icon
                [nome]="data.nomeEstudante"
                size="40"
                fontSize="20"
                radiusSize="10"
                ></app-letter-icon>
                <h5>{{ data.nomeEstudante }}</h5>
            </button>
        </div>
    </div>
</div>